


/* header */ 

.header {
    display: flex;
    max-width: 100%;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    background: #142159;
    Padding: 16px, 32px, 16px, 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo__text{
    margin-left: 12px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 244px;
    height: 100%;
}

.menu-group__list {
    height: 302px;
    margin-top: 16px;
    margin-left: 16px;
}

.menu-group__item {
    display: flex;
    align-items: center;
    width: 212px;
    height: 48px;
    margin-bottom: 4px;
    background: pink;
}

.menu-group__link {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.menu-group__text {
    margin-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.menu-group__text--blue {
    color: #425DC7;
}

.upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F1F2F9;
    width: 212px;
    border-radius: 12px;
    margin-left: 16px;
    margin-top: 86px;
    padding: 24px 16px 16px 16px;
}

.upgrade__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 16px;
}

.upgrade__button {
    display: flex;
    width: 180px;
    height: 40px;
    background: #425DC7;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}